

body
{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
}

.container-1 {
    box-sizing: border-box;
    display: inline-grid;
    grid-template-columns: 430px;
    background-color: white;
    margin: 20px;
    border: 1px solid black;
    color: rgb(155, 134, 18);
    
    button{
      
      background-color: rgb(255, 217, 0);
      border: 1px solid rgb(233, 201, 19);
      height: 50px;
      margin: 10px;
      font-size: 20px;
      color: inherit;
    }
    div {
      display: flex;
      padding: 10px;
    }
  
    img{
      width: 100%;
    }
    
    .title {
      font-size: 30px;
    }
    
    .date{
      justify-content: flex-end;
      font-weight: bold;
    
      span {
        color: rgb(255, 217, 0);
        margin: 0px 00px 0px 10px;
      }
    }
    
}


   


 
