$primary-color: rgb(105, 113, 221);
$secondary-color: rgb(0, 9, 139);
$light-color: rgb(182, 250, 255);
$shadow-direcction: 10px;
$principal-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$secundary-font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;