$primary-color: red;
$secondary-color: darkred;
$light-color: lightpink;
$shadow-direcction: -10px;
$principal-font-family: 'Courier New', Courier, monospace;
$secundary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;