$background-color :  rgba(0, 0, 0, 0.9);

body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 2);
    background-color: $background-color;
    color: white;

}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    padding: 20px;

    div
    {
        display: flex;
        align-items: center;
    }

    .header-buttons {
        justify-self: end;
        
        div{
            padding: 20px;
            &:hover {
                background-color: white;
                color: $background-color;
            }
        }
    }

    @media screen and (max-width: 1280px) {
        .platform-title{
            display: none;
        }
      }
}

main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 300px auto 250px auto 250px;

    #top-text::after {
        content: '5';
        font-weight: 700;
    }

    section
    {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
         
        div {
            flex-grow: 1;
            flex-shrink: 1;
            img {
                width: 100%;
            }

            &:hover{
                width: 25%;
            }
        };
    }
}